/*
RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}













/*
COMMON
*/
li {
    list-style: none;
}

.button {
    padding: 8px 15px;
    border: 1px solid black;
    background-color: white;
    color: black;
    font-size: 15px;

}

.button.blue {
    background-color: #0061ff;
    color: white;
    border: none;
}

.button.blue:hover {
    cursor: pointer;
    transition-duration: 0.3s;
    box-shadow: 10px;
    filter: brightness(1.2);
}

.button:hover {
    cursor: pointer;
    transition-duration: 0.3s;
    box-shadow: 10px;
    filter: brightness(0.8);
}

h1 {
    font-size: 77px;
    font-weight: 800;
}

h2 {
    font-size: 40px;
}

main .container {
    width: 1000px;
    margin: 0 auto;
}

main .padding {
    padding-left: 32px;
    padding-right: 32px;
}

main p {
    font-size: 15px;
}

.fa-solid.fa-check {
    color: #0061ff;
}

.strong {
    font-size: 14px;
    font-weight: 700;
}

.green {
    background-color: #a2d39b;
}

.box-img.green.border {
    border: 15px solid #d1e9cd;
}

.bordeaux {
    background-color: #61082b;
}

.celeste {
    background-color: #0093ce;
}

.orange {
    background-color: #ff1c1c;
}

.red {
    background-color: #d5001f;
}

.lightblue {
    background-color: #b4d0e7;
}

.darkblue {
    background-color: #0d2481;
}

.yellow {
    background-color: #ffd830;
}




/*
HEADER
*/


.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: relative;
    background-color: white;


}

.menu.left {
    width: 50%;
    height: 80px;
    position: fixed;
    background-color: white;
    z-index: 2;
}

header #logo {
    line-height: 80px;
    vertical-align: middle;
}

.menu.right {
    width: 50%;
    position: fixed;
    height: 80px;
    right: 0;
    background-color: white;
    z-index: 2;
}

.menu.left .buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 80px;
}

.menu.right .buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 80px;
}

.top-menu .menu .buttons a {
    text-decoration: none;
    color: black;
    padding: 0px 20px;
    line-height: 80px;
}

header .buttons li {
    line-height: 80px;
    border-bottom: 2px transparent;
}

header .buttons .hover:hover {
    border-bottom: 2px solid black;
}

.top-menu .menu .button.blue {
    margin-right: 20px;
}

.jumbotron {
    background-color: #b4d0e7;
    max-height: 750px;
}

.jumbotron .container-jumbo {
    width: 1180px;
    margin: 0 auto;
    padding-top: 80px;
}



.jumbotron .container-jumbo .container-col {
    width: 1180px;
    margin: 0 auto;
    display: flex;
}

.jumbotron .container-col .col.sinistra {
    width: 35%;
}

.jumbotron .container-col .col.destra {
    width: 65%;
}

.jumbotron .container-jumbo .container-col p {
    padding-top: 35px;

}

.jumbotron .container-jumbo .container-col .font-awesome {
    font-size: 50px;
    font-weight: bolder;
    padding-top: 80px;
}

.jumbotron .button {
    margin-top: 15px;
}

.jumbotron .img.jumbo {
    width: 106%;
    padding-top: 15px;

}






/*
MAIN
*/

main .subscribe,
main .partner,
main .business,
main .container-small,
main .domande {
    width: 1000px;
    margin: 0 auto;
}

main .subscribe h2 {
    padding-top: 165px;
}

input {
    appearance: none;

    border-radius: 50%;
    width: 20px;
    height: 20px;

    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;
}

input:checked {
    border: 5px solid #2c7bfa;
}


.radio-tool {
    padding-top: 65px;
    display: flex;
    gap: 45px;
}

main .container.testa {
    display: flex;
    gap: 50px;
    margin-top: 50px;
}

main .col.title {
    width: calc(1000px - 100px / 3);
    border: 1px solid #d0d0d3;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

main .container.content {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

main .container.content .concept-break {
    width: 48px;
    margin-left: 32px;
    margin-top: 40px;
}



main .container.content .col {
    width: calc((1000px - 100px) / 3);
    padding-bottom: 55px;
}

main .container.content .col.top {
    border: 1px solid #d0d0d3;

}


main .subscribe .container .container-button {
    text-align: center;
    padding-bottom: 35px;
    padding-top: 50px;
}


.piani p {
    padding-top: 20px;
}

.piani h3,
.sinistra h3,
.business h3,
.subscribe h3 {
    padding-bottom: 20px;
    padding-top: 35px;
    font-weight: 700;
    font-size: 21px;
}

.partner .destra h3 {
    font-weight: 700;
    font-size: 21px;

}

.piani strong {
    font-size: 17px;
}

main .subscribe ul {
    padding-top: 30px;
}

main .subscribe ul li {
    padding-top: 20px;
    display: flex;
    gap: 5px;

}


main .subscribe h4 {
    padding-top: 55px;
}

main .subscribe .col.title.full {
    width: 100%;
    margin-top: 50px;
}

main .col.content.full {
    width: 100%;
    border: 1px solid #d0d0d3;
    padding-bottom: 35px;
    display: flex;
}

.col.content.full .sinistra {
    width: 70%;
}

.subscribe .col.content.full .destra {
    width: 30%;
    padding-top: 33px;
    text-align: center;
}

.sinistra p {
    padding-top: 60px;
}

main .partner {
    padding-top: 150px;
}

main .partner .col.content.full {
    border: none;
}

main .partner .sinistra {
    width: 60%;
}

.partner .sinistra img {
    width: 100%;
    display: block;
}

.partner .destra {
    padding: 55px 50px;
    text-align: start;
    width: 40%;
}

main .partner .destra p {
    padding-top: 25px;
    padding-bottom: 35px;
}

.business h2 {
    padding-top: 115px;
    padding-bottom: 50px;
}

.business img {
    width: 100%;
}

main .companies .container-companies {
    display: flex;
}

main .container-companies .box {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 3);
    height: calc(100vw / 3);

}

main .container-companies .box-img {
    width: 50%;
    height: 50%;
    position: relative;
}

main .container-companies .box-img .svg {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);

}

.container-small {
    padding-bottom: 150px;
}

.container-small h2 {
    width: 60%;
    margin-top: 155px;
    margin-bottom: 65px;
}

.container-small a {
    padding-top: 65px;
    margin-bottom: 150px;
}


main .companies .container-companies .box.middle {
    padding: 50px;
    background-color: #f5f5f5;
    overflow: auto;
}

main .companies .container-companies .box.middle .designit {
    max-height: calc(100% / 3);
}

main .companies .container-companies .box.middle .designit img {
    width: 70%;
}

main .companies .container-companies .box.middle .designit .concept-break {
    width: 20%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.container-small.flex {
    display: flex;
    padding-bottom: 100px;
}

.container-big {
    background-color: #b4d0e7;
}

.container-small.flex .button-container {
    align-self: center;
    margin-top: 35px;

}

.container-small.flex .button-container .button {
    padding-left: 35px;
    padding-right: 35px;
    width: 300px;
}

.colored {
    color: #61082b;
}

.wd {
    width: 65%;
}

.container-small.flex h2 {
    width: 80%;
}

.domanda.flex {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    cursor: pointer;
}

.bonus {
    display: none;

}

.container-bonus:hover .bonus {
    display: inline-block;
}

.container-bonus:hover .backwards-bonus {
    display: none;
}

.bonus p {
    font-size: 14px;
    padding-bottom: 20px;
}

/*
FOOTER
*/
footer {
    background-color: #000000;
}

footer .container-footer {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
}


footer .container-footer .col-footer {
    width: calc(100% / 5);
}

footer .container-footer .col-footer h3 {
    padding-bottom: 35px;
    color: white;

}

footer .container-footer .col-footer a {
    text-decoration: none;
    color: white;
}

footer .container-footer .col-footer p {
    padding-bottom: 20px;
    font-size: 15px;
}

.concept {
    width: 100%;
}

footer hr {
    color: white;
    width: 10%;

}

footer .concept>P {
    color: #999999;
    padding-top: 20px;
    font-size: 14px;

}