/*
RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}













/*
COMMON
*/
li {
    list-style: none;
}

.button {
    padding: 8px 15px;
    border: 1px solid black;
    background-color: white;
    color: black;
    font-size: 15px;

}

.button.blue {
    background-color: #0061ff;
    color: white;
    border: none;
}

.button.blue:hover {
    cursor: pointer;
    transition-duration: 0.3s;
    box-shadow: 10px;
    filter: brightness(1.2);
}

.button:hover {
    cursor: pointer;
    transition-duration: 0.3s;
    box-shadow: 10px;
    filter: brightness(0.8);
}

h1 {
    font-size: 77px;
    font-weight: 800;
}

main .container {
    width: 1000px;
    margin: 0 auto;
}

main .padding {
    padding-left: 32px;
    padding-right: 32px;
}

main p {
    font-size: 14px;
}

.fa-solid.fa-check {
    color: #0061ff;
}






/*
HEADER
*/


.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: relative;
    background-color: white;


}

.menu.left {
    width: 50%;
    height: 80px;
    position: fixed;
    background-color: white;
}

header #logo {
    line-height: 80px;
    vertical-align: middle;
}

.menu.right {
    width: 50%;
    position: fixed;
    height: 80px;
    right: 0;
    background-color: white;
}

.menu.left .buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 80px;
}

.menu.right .buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 80px;
}

.top-menu .menu .buttons a {
    text-decoration: none;
    color: black;
    padding: 0px 20px;
    line-height: 80px;
}

header .buttons li {
    line-height: 80px;
}

.top-menu .menu .button.blue {
    margin-right: 20px;
}

.jumbotron {
    background-color: #b4d0e7;
    max-height: 750px;
}

.jumbotron .container-jumbo {
    width: 1180px;
    margin: 0 auto;
    padding-top: 80px;
}



.jumbotron .container-jumbo .container-col {
    width: 1180px;
    margin: 0 auto;
    display: flex;
}

.jumbotron .container-col .col.sinistra {
    width: 35%;
}

.jumbotron .container-col .col.destra {
    width: 65%;
}

.jumbotron .container-jumbo .container-col p {
    padding-top: 35px;

}

.jumbotron .container-jumbo .container-col .font-awesome {
    font-size: 50px;
    font-weight: bolder;
    padding-top: 80px;
}

.jumbotron .button {
    margin-top: 15px;
}

.jumbotron .img.jumbo {
    width: 106%;
    padding-top: 15px;

}






/*
MAIN
*/

main .subscribe,
main .partner {
    width: 1000px;
    margin: 0 auto;
}

main .subscribe h2 {
    padding-top: 165px;
    font-size: 40px;
}

input {
    appearance: none;

    border-radius: 50%;
    width: 20px;
    height: 20px;

    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;
}

input:checked {
    border: 5px solid #2c7bfa;
}


.radio-tool {
    padding-top: 65px;
    display: flex;
    gap: 45px;
}

main .container.testa {
    display: flex;
    gap: 50px;
    margin-top: 50px;
}

main .col.title {
    width: calc(1000px - 100px / 3);
    border: 1px solid #d0d0d3;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

main .container.content {
    display: flex;
    gap: 50px;
}

main .container.content .concept-break {
    width: 48px;
    margin-left: 32px;
    padding-top: 40px;
}



main .container.content .col {
    width: calc(1000px - 100px / 3);
    border: 1px solid #d0d0d3;
    padding-bottom: 55px;

}


main .subscribe .container .container-button {
    text-align: center;
    padding-bottom: 35px;
    padding-top: 50px;
}


.piani p {
    padding-top: 20px;
}

.piani h3,
.sinistra h3 {
    padding-bottom: 20px;
    padding-top: 35px;
    font-weight: 700;
    font-size: 25px;
}

.piani strong {
    font-size: 16px;
}

main .subscribe ul {
    padding-top: 30px;
}

main .subscribe ul li {
    padding-top: 20px;
    display: flex;
    gap: 5px;

}


main .subscribe h4 {
    padding-top: 55px;
}

main .subscribe .col.title.full {
    width: 100%;
    margin-top: 50px;
}

main .col.content.full {
    width: 100%;
    border: 1px solid #d0d0d3;
    padding-bottom: 35px;
    display: flex;
}

.col.content.full .sinistra {
    width: 70%;
}

.subscribe .col.content.full .destra {
    width: 30%;
    padding-top: 33px;
    text-align: center;
}

.sinistra p {
    padding-top: 60px;
}

main .partner {
    padding-top: 150px;
}

main .partner .col.content.full {
    border: none;
}

main .partner .sinistra {
    width: 60%;
}

.partner .sinistra img {
    width: 100%;
    display: block;
}

.partner .destra {
    padding: 55px 50px;
    text-align: start;
    width: 40%;
}

main .partner .destra p {
    padding-top: 25px;
    padding-bottom: 35px;
}

/*
FOOTER
*/