/*
RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}












/*
COMMON
*/
li {
    list-style: none;
}

.button {
    padding: 8px 15px;
    border: 1px solid black;
    background-color: white;
    color: black;
    font-size: 15px;

}

.button.blue {
    background-color: #0061ff;
    color: white;
    border: none;
}

.button:hover {
    cursor: pointer;
    transition-duration: 0.3s;
    box-shadow: 10px;
    background-color: #2c7bfa;
}

h1 {
    font-size: 70px;
    font-weight: bolder;
}









/*
HEADER
*/


.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: relative;
    background-color: white;


}

.menu.left {
    width: 50%;
    height: 80px;
    position: fixed;
    background-color: white;

}

.menu.right {
    width: 50%;
    position: fixed;
    height: 80px;
    right: 0;
    background-color: white;
}

.menu.left .buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    height: 80px;
}

.menu.right .buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    height: 80px;
}

.top-menu .menu .buttons a {
    text-decoration: none;
    color: black;
}

.top-menu .menu .button.blue {
    margin-right: 20px;
}

.jumbotron {
    background-color: #b4d0e7;
    height: 740px;
}

.jumbotron .container-jumbo {
    width: 1180px;
    margin: 0 auto;
    padding-top: 80px;
}



.jumbotron .container-jumbo .container-col {
    width: 1180px;
    margin: 0 auto;
    display: flex;
}

.jumbotron .container-col .col.sinistra {
    width: 35%;
}

.jumbotron .container-col .col.destra {
    width: 65%;
}

.jumbotron .container-jumbo .container-col p {
    padding-top: 35px;

}

.jumbotron .container-jumbo .container-col .font-awesome {
    font-size: 50px;
    font-weight: bolder;
    padding-top: 100px;
}

.jumbotron .button {
    margin-top: 15px;
}

.jumbotron .img.jumbo {
    width: 107%;
    padding-top: 15px;

}






/*
MAIN
*/
















/*
FOOTER
*/